.dashboard {
    padding: 20px;
  }
  
  .metrics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap:50px;
    
  }
  
  .metric-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 23%;
  }
  
  .metric-card h3 {
    color: green;
    margin-top: 10px;
  }
  
  .tables {
    display: flex;
    justify-content: space-between;
  }
  
  .table-section {
    width: 48%;
    /* Frame 16 */
    margin: 10px;

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;

align-items: center;
padding: 10px;
gap: 30px;

width: 60%;
height: 280px;

background: #FFFFFF;
border: 1px solid #CBCBCB;
box-shadow: 2px 4px 19px rgba(1, 36, 69, 0.25);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .table th {
    background-color: #f1f1f1;
  }

  .metric-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 23%;
    transition: transform 0.2s, box-shadow 0.2s; /* Add transition for smooth effect */
  }
  
  .metric-card:hover {
    transform: scale(1.05); /* Scale up on hover */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
    cursor: pointer; /* Change cursor to pointer */
  }
  